services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - gear_c_net

  api:
    build:
      context: ./go_api
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - db
    networks:
      - gear_c_net

  ui:
    build:
      context: ./UI
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - gear_c_net
volumes:
  db_data:

networks:
  gear_c_net:
    driver: bridge